<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>

    <div class="container">
	<div class = "col-md-12 p-3 text-center bg-info ">
	<div class = "row">
	<strong class = "col-md-12" >CRUD</strong>
	<button class="col-md-2 btn btn-sm btn-outline-dark " id = "add_task" ><i class="bi bi-clipboard-plus mr-2"></i>ADD</button>
	</div>
	</div>
		
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Descripcion</th>
                    <th>Status</th>
					<th>Action</th>
                </tr>
            </thead>
            <tbody id = "data_details" >
            </tbody>
        </table>
    </div>
    
	
<!-- Modal task-->
<div class="modal fade" id="DataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TASK</h5>
		<input hidden id = "selected_node" value = "" >
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
<form id = "data_form" >
  <div class="modal-body p-5">
  <div class="form-group">
    <label for="exampleInputEmail1">Task Name</label>
    <input type="text" class="form-control" name = "t_task_title" aria-describedby="Task name" placeholder="Title">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Task Descripcion</label>
    <textarea  type="text" class="form-control" name = "t_task_descripcion" aria-describedby="Task Descripcion" placeholder="Descripcion"></textarea>
  </div>  
  
      </div>
  
      <div class="modal-footer">
		<input hidden id = "action" value = "" >
		<input hidden id = "data_id" value = "" >
		<button type="button" class="btn btn-sm btn-outline-success _submit_data" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal" >Close</button>
      </div>
</form>  	  
    </div>
  </div>
</div>	

<!-- Modal delete task-->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog border border-danger" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" ></h5>
		<input hidden id = "selected_node" value = "" >
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
	  
	<div class="modal-body p-5">
	<h3 class = "text-danger" >ARE YOU SURE YOU WANT TO DELETE</h3>

	</div>
  
      <div class="modal-footer">
		<button type="submit" class="btn btn-sm btn-outline-danger confirm_delete" data-dismiss="modal">DELETE</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal" >Close</button>
      </div>
	  
    </div>
  </div>
</div>	
		
	
	
	
	
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="js/jquery.js" ></script>
<script>

$(document).ready(function(){ 
let data_url = `/task`;
let del = '<i style = "color:red;" class="bi bi-trash"></i>';
let edit = '<i style = "color:green;" class="bi bi-pencil"></i>';
let icon_t = '<i style = "color:green;" class="bi bi-toggle-on"></i>';
let icon_f = '<i style = "color:red;" class="bi bi-toggle-off"></i>';
// LOAD USER DATA

load_data = () => {
let table_body;
$.post(data_url, { swtch:"getData"  }, 
function(data, status){
$.each(data, function(key, dt) {
let icon = dt.status?icon_t:icon_f;
table_body += '<tr>';
table_body += '<td><strong>'+dt.title+'</strong></td>';
table_body += '<td>'+dt.descripcion+'</td>';
table_body += '<td><button data-id = '+dt._id+' data-access = '+dt.status+' class = "btn rud change_status" >'+icon+'</button></td>';
var action = '<td><button class = "btn btn-sm btn-outline-dark data_edit m-2" data-id = '+dt._id+' data-title = "'+dt.title+'" data-descripcion = "'+dt.descripcion+'" >'+edit+'</button>';
action += '<button class = "btn btn-sm btn-outline-dark del_task" data-id = '+dt._id+' >'+del+'</button>';
action += '</td>';
table_body += action;
table_body += '</tr>';
});
$("#data_details").html(table_body);
});	
}
load_data();

// Table Actions

$('#add_task').on( 'click', function () {
$('#data_form')[0].reset();		
$('.modal-title').html('ADD DATA');
$('#action').val('addData');
$('#DataModal').modal('show');
//data_modal.show();
});

$('#data_details').on( 'click','.data_edit', function () {
$("input[name='t_task_title']").val($(this).data('title'));
$("textarea[name='t_task_descripcion']").val($(this).data('descripcion'));
$('.modal-title').html('EDIT DATA');
$('#DataModal').modal('show');
$('#data_id').val($(this).data('id'));
$('#action').val('updateData');
});	

$('#data_details').on( 'click','.del_task', function () {	
$('#DeleteModal').modal('show');
$('#data_id').val($(this).data('id'));
$('#action').val('del_task');
});

$('#data_details').on( 'click','.change_status', function () {
$.post(data_url, { swtch:'change_status',uid:$(this).data('id'), access:$(this).data('access')  }, 
function(data, status){ load_data();
});	
});	



$('._submit_data,.confirm_delete').on( 'click', function () {
$.post(data_url, { 
title : $("input[name='t_task_title']").val(), 
descripcion : $("textarea[name='t_task_descripcion']").val(), 
swtch : $("#action").val(), 
data_id : $("#data_id").val()  
}, function(data, status){
$('#data_form')[0].reset();
$('#DataModal,#DeleteModal').modal('hide');
load_data();
});	
});


});
</script>
</html>